/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*

  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
  ========================================
Layout
  ========================================
*/
body {
    background: #F0FFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}
:root {
    --player1: rgba(34,193,195,1);
    --player2: rgba(253,187,45,1);
}
.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    border: 10px solid lightblue;
    margin: auto;
}
#colorChoice {
    display: flex;
    margin: 1em auto;
    width: 90%;
    justify-content: space-around;
}
.name1, .name2 {
    width: 100%;
    font-weight: 700;
    font-size: 1.7rem;
    font-family: Bahnschrift;
    text-align: center;
    height: 3.5vh;
    filter: brightness(160%);
    border-radius: .2rem;
    padding-top: .2rem;
}
.name1{
    background: var(--player1);
}
.name2 {
    background: var(--player2);
}
#reset{
    margin: auto;
    height: 3.5vh;

}
.colorContainer1, .colorContainer2 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;

}

.colors1, .colors2 {
    width: 14.28%;
    border: 1px solid black;
    height: 7vh;
}

#red {
    background: red;
}
#orange {
    background: rgba(253,187,45,1);
}
#yellow {
    background: yellow;
}
#green {
    background: #3CC157;
}
#blue {
    background: rgba(34,193,195,1);
}
#indigo {
    background: #6F339B;
}
#violet {
    background: violet;
}

.tile {
    width: 33.33%;
    height: 25vh;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 15px;
    
}
.col2 {
    border-right: .5rem dashed lightgrey;
    border-left: .5rem dashed lightgrey;
}

.row2 {
    border-top: .5rem dashed lightgrey;
    border-bottom: .5rem dashed lightgrey;
}
.tile:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(34deg, var(--player1) 0%, var(--player2) 100%);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.tile:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}


